<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <p>Voici la page du potin  </p>
        <p>
        Voici la page du potin number <%=params[:id]%> <br/>
        Son auteur : <%= gossip.author%><br/>
        Le contenu du potin : <%= gossip.content%><br/>
        </p>

    <a href="/">Retour à la page d'accueil</a>

  </body>
</html>